<h1 class="m-4 color-theme">About us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<h3>Welcome to ANNASETU!</h3>
		<br>
		
		<p>ANNASETU is a dedicated platform committed to addressing food insecurity and hunger across the nation. Founded on the principles of compassion and community, we strive to make a meaningful impact by connecting surplus food with those who need it most.</p>
	<br>
	<h4>Our Approach:</h4>
	<li>Collaboration: We collaborate with local businesses, food establishments, and volunteers to collect and distribute nutritious meals to underserved communities.</li>
	<li>Impact: Through strategic partnerships and transparent operations, we ensure that every donation reaches its intended recipients efficiently and effectively.</li>
    <li>Empowerment: By empowering individuals and communities through access to food, we aim to foster resilience and long-term sustainability.</li>
<br>
<h4>Our Values</h4>
<li>Compassion: We believe in the power of compassion to drive positive change and alleviate food insecurity.</li>    
<li>Integrity: We uphold the highest standards of integrity in all our operations, ensuring accountability and trust.</li>
<li>Inclusivity: We embrace diversity and strive to serve all individuals regardless of background or circumstance.</li>

<br>
<p>Join Us: Together, we can create a hunger-free future. Join ANNASETU in our mission to nourish communities and inspire hope through the gift of food.</p>
</ul>
</div>