<h1 class="m-4 color-theme">Contact us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<h3>Get in touch</h3>
		<br>
		<p>Have questions or want to learn more about ANNASETU? We'd love to hear from you! Feel free to reach out to us through any of the following channels:</p>
	<br>
	
	
	<ul>
		<li>Email: <a href="mailto:info@annadata.org">info@annasetu.org</a></li>
		<li>Phone: +91-123-456-7890</li>
		<li>Address: ANNASETU Foundation, 10th Street, Santacruz-(East), Mumbai-400055, India</li>
	</ul>
	<br>
	<p>Follow Us on social media:</p>
	<ul>
		<li>Facebook: <a href="/">ANNASETU Facebook Page</a></li>
		<li>Twitter: <a href="/">ANNASETU Twitter Handle</a></li>
		<li>Instagram: <a href="/">ANNASETU Instagram</a></li>
	</ul>

	<br>
	<h4>Support Us</h4>
	<p>Your support is crucial in helping us continue our mission to eliminate hunger. Donate food, volunteer your time, or collaborate with us to make a difference in your community.</p>
<br>
<p>Thank you for your interest in ANNASETU. Together, we can create a hunger-free future!</p>	
</ul>
</div>