<h1 class="m-4 color-theme">Our Mission</h1>
	
<div class="bg-white m-4 p-4  shadow">
	<ul class="fs-5">
	
	<h4>Mission Statement</h4>
	
	<p>ANNASETU's mission is to eliminate hunger and food insecurity by leveraging technology and community engagement to distribute surplus food to those in need. Our efforts are guided by a commitment to:</p>
	<br>
	<li>Accessibility: Making nutritious food accessible to individuals and families facing food insecurity.</li>
	<li>Innovation: Harnessing innovative solutions to optimize food collection, storage, and distribution processes.</li>
	<li>Advocacy: Advocating for policies and practices that promote food justice and equality.</li>
<br>
	<h4>Goals</h4>
	<li>Impact: To positively impact the lives of thousands of individuals by providing them with reliable access to nutritious meals.</li>
	<li>Education: To raise awareness about food insecurity and inspire collective action to address this pressing issue.</li>
	<li>Sustainability: To implement sustainable practices that reduce food waste and support environmental stewardship.</li>
<br>
<strong> Get Involved:</strong> Whether through donating food, volunteering your time, or advocating for food justice, your support is crucial in helping us achieve our mission.

	</ul>
</div>